.rdt_TableCell{
  img{
    width: 25%;
  }
}

.movie-ticket{
  .responsive{
    width: 30%;
    height: auto;
  }
}

.react-datepicker-wrapper{
  width: 35% !important;
}

.movie-ticket{
  background-color: darkgrey;
}